/* Overall Styling */

#container {
  font-family: 'Montserrat', sans-serif;
  background-color: #222831;
}

a {
  color: inherit;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #00adb5;
}

/* Header and Navigation */

#header {
  width: 20%;
  height: 100%;
  position: fixed;
  float: left;
  background-color: #222831;
}

#vertical-logo {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.navbar {
  font-family: 'JetBrains Mono', monospace;
  background-color: #222831;
  color: #fff;
}

.nav-link:hover {
  color: #00adB5;
}

.dropdown-menu {
  background-color: #222831;
}

.dropdown-item {
  color: #eee;
}

.horizontal-nav {
  display: none;
}

.contact-icons {
  text-align: center;
  color: #fff;
}

.social-icon {
  font-size: 2.5em;
  padding: 5px 10px
}

.icon-link {
  text-decoration: none;
  color: inherit;
}

.icon-link:hover {
  color: #00adB5;
}

div.copyright {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: auto;
  padding: 5px;
}

/* Content */

#main-content {
  max-width: 80%;
  display: block;
  float: right;
  padding: 20px 0px 0px 20px;
  background: #222831;
  color: #fff;
  font-size: 1.1rem;
}

.lighter-section {
  background: #393e46;
  color: #fff;
}

.section-heading {
  text-align: center;
  font-weight: 600;
  padding: 1% 15% 1% 15%;
  filter: drop-shadow(0px 0px 5px #00adB5);
}

/* Intro Section */

#introduction {
  text-align: center;
  padding: 20px 0px;
}

.intro-container {
  position: relative;
}

#laptop-outline {
  max-width: 100%;
  max-height: 500px;
  filter: brightness(2);
}

#intro-text {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 0px 5px #00adB5);
}

#intro-title {
  font-size: 4rem;
  font-weight: 100;
}

#intro-subtitle {
  font-family: 'JetBrains Mono', monospace;
}

/* Portfolio Carousel */

.carousel {
  padding: 20px 0px;
  margin: 20px 0px;
}

.carousel-item {
  text-align: center;
  min-height: 400px;
}

.carousel-label {
  padding: 1% 15% 1% 15%;
}

.carousel-subtitle {
  font-weight: 500;
  padding: 0% 15% 1% 15%;
}

A:hover .carousel-logo-default {
   display: none;
}

A .carousel-logo-hover {
   display:none;
}

A:hover .carousel-logo-hover {
   display:inline;
}

/* About Me */

.about-me-row{
  padding: 0% 0% 5% 0%;
}

.about-me-text{
  padding: 0% 5%;
}

.about-me-image {
  text-align: center;
}

.about-image-top {
  display: none;
}

/* Contact */

#contact {
  text-align: center;
  padding: 2% 15%;
}

.below-contact {
  display: none;
}

.contact-input {
  width: 65%;
  background-color: #222831;
  color: #eee;
}

.contact-button {
  background-color: #222831;
  color: #eee;
}

.contact-button:hover {
  color: #00adb5;
}

footer {
  display: none;
}

/* Clearfix */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Portfolio Page */

.portfolio-section {
  padding: 3% 0%;
}

/* Portfolio Title Section */

#portfolio-title {
  text-align: center;
  filter: drop-shadow(0px 0px 5px #00adB5);
}

/* Morse Code Translator */

.morse-form {
  text-align: center;
}

.morse-output {
  text-align: center;
}

/* Smaller Screen Layout and Styling Adjustments */

@media all and (max-width: 768px) {

  /* Header and Navigation */

  #header {
    width: 100%;
    max-width: 100%;
    position: static;
    float: none;
  }

  .vertical-nav {
    display: none;
  }

  #vertical-footer {
    display: none;
  }

  .horizontal-nav {
    display: block;
    width: 100%;
  }

  /* Content */

  #main-content {
    max-width: 100%;
    padding: 20px 0px;
    float: none;
  }

  footer {
    background-color: #222831;
  }

  /* Contact */
  .left-contact {
    display: none;
  }

  .below-contact {
    display: inline;
  }

  /* Footer */

  footer {
    display: block;
  }

}

@media only screen and (max-width: 991px) {

  /* About Me */

  .about-image-top {
    display: block;
  }

  .about-image-right{
    display: none;
  }

  /* Contact */

  .contact-input {
    width: 85%;
  }

  .test-class {
    align: left;
  }

}

/* Larger Screen Adjustments */

@media only screen and (min-width: 1750px) {

  /* Header and Navigation */

  #header {
    width: 15%;
  }

  /* Content */

   #main-content {
    width: 85%;
    max-width: 85%;
  }

}
