  <!-- Footer -->
  </div>
  <footer>
    <div class="container">
      <div class="contact-icons">
          <i class="social-icon bi bi-linkedin"></i>
          <a href="https://github.com/LRBurnham" class="icon-link">
            <i class="social-icon bi bi-github"></i>
          </a>
          <i class="social-icon bi bi-envelope-fill"></i>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <!-- Closing Div for Container Started in Header -->
  </div>
</body>

</html>
