{% include "header.html" %}

<div id="main-content" class="clearfix">

  <section id="introduction">
    <h1 id="intro-title">LR Burnham</h1>
    <h3 class="subtitle">{ i write code }</h3>
  </section>

<!--  TODO: Add images to carousel items-->
  <section class="lighter-section">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <h2 class="carousel-label">Things I've Worked On</h2>
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <h2 class="carousel-label">Highlight #1</h2>
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <h2 class="carousel-label">Highlight #2</h2>
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <h2 class="carousel-label">Highlight #3</h2>
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <h2 class="carousel-label">My GitHub</h2>
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

  <p>content</p>
  <h1>big content</h1>
  <ul>
    <li>
      list content
    </li>
    <li>
      list content
    </li>
    <li>
      list content
    </li>
    <li>
      list content
    </li>
    <li>
      list content
    </li>
    <li>
      list content
    </li>
  </ul>
  <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget urna dolor. Aliquam eleifend diam quis dui fermentum molestie. Curabitur feugiat commodo porta. Donec accumsan ex sit amet odio finibus aliquam. Sed eu orci sit amet odio ornare ultrices id nec lorem. Sed vitae sodales sem. Donec et ligula ac velit dignissim congue. Duis malesuada ligula vitae faucibus mollis.

Duis tortor elit, ultricies in luctus in, luctus id augue. Ut id nisl nec nunc sollicitudin viverra. Maecenas eget ipsum nec turpis vestibulum vestibulum sit amet in eros. Integer ut dui dapibus, malesuada nisl nec, pellentesque risus. Proin sollicitudin sollicitudin condimentum. Donec vehicula et velit et egestas. Nam velit ante, fermentum sit amet pellentesque nec, volutpat eget mi. Proin sed ipsum eu mauris luctus maximus at ac lectus.

Suspendisse semper pulvinar sapien, nec tincidunt dui. Proin accumsan tempus vestibulum. Ut tempor scelerisque dolor, in mollis felis dapibus eget. Etiam luctus aliquet porta. Ut egestas ac augue quis consectetur. Duis eleifend finibus odio, non aliquam enim scelerisque sed. Proin vulputate, metus id faucibus molestie, diam urna euismod mi, ac mollis arcu quam id sapien. Mauris vestibulum nunc non urna laoreet luctus. Integer cursus, ligula id posuere dictum, sapien enim scelerisque tortor, nec elementum mi est at lectus. Vivamus molestie placerat auctor. Nunc luctus scelerisque justo eget egestas.

Aenean non tortor vestibulum, placerat ante vel, dictum neque. Phasellus maximus urna eget tristique feugiat. Sed at risus vel lacus consequat tincidunt vel sit amet ipsum. Duis vestibulum dapibus eleifend. Nunc placerat interdum pellentesque. Praesent elementum, arcu sed pharetra blandit, elit nibh tristique lectus, pulvinar imperdiet nisi tortor vitae ante. Aliquam iaculis, sapien nec maximus laoreet, nunc odio mollis lacus, at pulvinar mi lectus eu nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.

Proin tellus ipsum, aliquam vitae suscipit volutpat, fermentum non metus. In hac habitasse platea dictumst. Pellentesque nec quam vitae mi mattis aliquet. Nunc tortor libero, imperdiet ac gravida sed, tincidunt ut neque. Nam sapien libero, maximus vel arcu vel, tincidunt imperdiet erat. Sed aliquet a neque nec gravida. Phasellus feugiat in augue in faucibus. Proin imperdiet elit congue diam venenatis, eget eleifend diam hendrerit. Cras vestibulum sapien eget arcu aliquam, vitae consectetur ipsum mollis. Vivamus id enim vitae velit condimentum maximus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  </p>
</div>

{% include "footer.html" %}