{% include "header.html" %}

<div id="main-content" class="clearfix">

  <section id = "portfolio-title">
    <div class="intro-container container">
      <h1 id="intro-title">LR Burnham</h1>
      <h3 id="intro-subtitle">{ portfolio }</h3>
    </div>
  </section>

  <section id = "portfolio-morse" class="lighter-section">

  </section>

  <!-- TODO: Choose and apply a portfolio item for this section -->
  <section id = "portfolio-highlight2">
    <div>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In iaculis nunc sed augue lacus. In aliquam sem fringilla ut morbi tincidunt augue interdum velit. Scelerisque in dictum non consectetur a erat nam at lectus. Sem integer vitae justo eget magna fermentum. Condimentum lacinia quis vel eros donec. Vel turpis nunc eget lorem dolor. Volutpat lacus laoreet non curabitur gravida arcu. Odio ut enim blandit volutpat maecenas volutpat blandit. At urna condimentum mattis pellentesque id nibh tortor. Vulputate ut pharetra sit amet aliquam id diam. Gravida neque convallis a cras semper auctor neque.
    </div>

  </section>

  <section id = "portfolio-site" class="lighter-section">

  </section>

  <section id = "portfolio-github">

  </section>

</div>

{% include "footer.html" %}